.Foodlist_container {
    padding-top: 80px;
    margin: 0 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 60px;
}

.food_card {
    box-shadow: 2px 2px 2px gray, 0px 0px 2px 2px gray;
}