
.home_section {
    margin: 0 15%;
    padding-bottom: 40px;
    padding-top: 30px;
}

.slider_image{
    height: 420px;
    width: -webkit-fill-available;
    padding-bottom: 30px;
}

.home_hr {
    
}

.home_foodlist {

}